.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sono', sans-serif;
    visibility: hidden;
}

.modal-backdrop.show {
    visibility: visible;
}

.modal {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 17px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgb(204, 204, 204);
    resize: none;
    outline: none;
    background-color: white;
    font-family: 'Sono', sans-serif;
}

input {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgb(204, 204, 204);
    resize: none;
    outline: none;
    background-color: white;
    font-family: 'Sono', sans-serif;
    text-align: center;
}


button[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Sono', sans-serif;
    width: 200px;
}

button[type="submit"]:hover {
    background-color: rgb(61, 60, 60);
    color: white;
}