@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

body {
  font-family: 'Sono', sans-serif;
  background-color: rgb(29, 28, 28);
  color: white;
  text-align: left;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1;
}

.clock {
  margin-bottom: 0px;
}

h1 {
  font-size: 40px;
  margin-bottom: 2px;
}

p {
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 3px;
}

hr {
  color: white;
  width: 100%;
  margin-top: 15px;
  margin-bottom:0px;
}


